# Tell the configuration system not to search for config files in parent directories.,
config.stopBubbling = true
# It instructs Lombok to annotate all generated methods, fields, and classes with @lombok.Generated.
# This is primarily used to tell code coverage tools like JaCoCo to ignore boilerplate code (getters, setters, equals, toString) in reports, improving accuracy
lombok.addLombokGeneratedAnnotation = true