<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- use Spring Boot default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS_HOME" value="./../micro-service-logs"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}/traffic-light-service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/archived/traffic-light-service_%d{dd-MM-yyyy}_%i.log
            </fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>20MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.mapstruct" level="INFO"/>
    <logger name="com.netflix.discovery" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

    <logger name="asp.example" level="info" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </logger>

</configuration>
